# Update these with your Supabase project details
NEXT_PUBLIC_SUPABASE_URL=https://vtwlyprlrbxkxzlnmkdp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0d2x5cHJscmJ4a3h6bG5ta2RwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE2ODU0MDgsImV4cCI6MjA4NzI2MTQwOH0.eAOTlb_j5TUtWHCX1z_WcKt8poImR_E-FbRYgZhoOOU
DATABASE_URL=postgresql://postgres.vtwlyprlrbxkxzlnmkdp:v9Sm5cMvv.524k_@aws-1-ap-south-1.pooler.supabase.com:5432/postgres
